{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner itemlist">
		
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
					<h3>{{item.name}}</h3>
					{{item.description}}

					<label for="price">Price:</label>
					<div class="input-group">
                        <h4>{{item.price}}</h4>
					</div>
					
			<a href = '{{url_for("editItem", itemname=item.name)}}'>
				<button class="btn btn-default delete">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
                </button>
			</a>
                    
            <a href = '{{url_for("deleteItem", itemname=item.name)}}'>
				<button class="btn btn-default delete">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete
                </button>
			</a>
		</div>
	</div>
{% endblock %}