{% extends "main.html" %}
{% block content %}
{% include "publicheader.html" %}
	<div class="row top-itemlist">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Categories</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	

     <div class="container-fluid">
     <div class="row">
    <div class="col-lg-4">
    <h2>Category</h2>
		<a href = "{{url_for('showItemList', categoryname = category.name)}}">
						<h3>{{category.name}}</h3>
			
		</a>
	</div>
    <div class="col-lg-8">
    <h2>Latest Items</h2>
	{% for item in items %}
        <a href = "{{url_for('showItem', categoryname = item.category_name, itemname = item.name)}}">
		
		<h3>{{item.name}} ({{item.category_name}})</h3> 
		</a>	
	{% endfor %}
    </div>
    </div>
    </div>
{% endblock %}
