{% extends "main.html" %}
{% block content %}
	<div class="row top-item">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
        <a href="{{url_for('showLogin')}}">
				<button class="btn btn-default" id="new-category">
					<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Login
				</button>
		</a>
		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Categories</h1>
		</div>
	</div>

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


	

     <div class="container-fluid">
     <div class="row">
    <div class="col-lg-4">
    <h2>Categories</h2>
	{% for category in categorys %}
		<a href = "{{url_for('showItemList', categoryname = category.name)}}">
						<h3>{{category.name}}</h3>
			
		</a>
	{% endfor %}
    </div>
    <div class="col-lg-8">
    <h2>Latest Items</h2>
	{% for item in items %}
        <a href = "{{url_for('showItem', categoryname = item.category_name, itemname = item.name)}}">
		
		<h3>{{item.name}} ({{item.category_name}})</h3> 
		</a>	
	{% endfor %}
    </div>
    </div>
    </div>
{% endblock %}