{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							 <li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	
     <div class="container-fluid">
     <div class="row">
    <div class="col-lg-4">
    <h2>Categories</h2>
	{% for category in categories %}
		<a href = "{{url_for('showItemList', categoryname = category.name)}}">
						<h3>{{category.name}}</h3>
			
		</a>
	{% endfor %}
    </div>
    <div class="col-lg-8">
    <h2>{{category.name}} Items</h2>
	{% for item in items %}
        <a href = "{{url_for('showItem', categoryname = item.category_name, itemname = item.name)}}">
		
		<h3>{{item.name}} ({{item.category_name}})</h3> 
		</a>	
	{% endfor %}
    </div>
    </div>
    
{% endblock %}
